// Here you can add other styles
 
.pad{
    padding-top: 2%;
    padding-bottom: 2%;
    
    
  }
.t{
    background-color: white!important;
    
  }
  .tt{
    padding: 10px;
  }
  .ak{
    background-color: lavender;
  }
  .tell{
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .lk{
    border-color: white;
    width: 38%;
    padding: 4px 0 5px 18px;
    border-radius: 6px;
  }
  .lki{
    border-color: white;
    width: 18%;
    padding: 4px 0 5px 18px;
    margin-left: 2%;
    border-radius: 6px;
  }
  .lkii{
    border-color: #3c3cbb;
    width: 11%;
    padding: 4px 0 5px 4px;
    margin-left: 2%;
    border-radius: 6px;
    background-color: #3c3cbb;
    color: white;
  }
  .lkk{
    float: right;
    margin-right: 10%;
    color: #4545e0;
    margin-top: 1%;

  }
  .lkkk{
    float: right;
    margin-top: 1%;
    margin-right: 1%;

  }
  .ad{
    background-color: lightsteelblue;
  }
  .lklk{
    border-color: white;
    border-radius: 4px;
    padding: 3px 0 4px 18px;
  }
  .aa{
    color: #2c2ccc;
  }
  .lkiit{
    border-color: #3c3cbb;
    padding: 4px 0 5px 4px;
    margin-left: 2%;
    border-radius: 6px;
    background-color: #3c3cbb;
    color: white;
    width: 11%;

  }
  .oo{
    text-align: center;
  }
  .lkio{
    border-color: white;
    width: 31%;
    padding: 4px 0 5px 18px;
    border-radius: 6px;
  }
  .lkioo{
    border-color: white;
    width: 62%;
    padding: 4px 0 5px 18px;
    border-radius: 6px;
    margin-top: 2%;
  }
  .lkiiit{
    border-color: #3c3cbb;
    padding: 4px 0 5px 4px;
    border-radius: 6px;
    background-color: #3c3cbb;
    color: white;
    width: 21%;
    margin-top: 3%;

  }
  .od {
    color: #1857a9;
    margin-top: 4%;
}
.lot{
  border-color: #3c3cbb;
  padding: 4px 0 5px 4px;
  border-radius: 6px;
  background-color: #3c3cbb;
  color: white;
  width: 26%;
  margin-top: 3%;

}
.loet{
  border-color: red;
  padding: 4px 0 5px 4px;
  border-radius: 6px;
  background-color: red;
  color: white;
  width: 26%;
  margin-top: 3%;

}
.ooi{
  background-color: white;
  height: 36px;
  width: 271px;
  padding: 7px;
  border-radius: 4px;
}




//subscriptions


.back{
  background: #F0F4FC 0% 0% no-repeat padding-box;
  height: 70px;
}

.plans{


height: 53px;
margin-left: 130px;
margin-top: 140px;
padding-top: 14px;
font: normal normal  28px/48px Poppins;
letter-spacing: 0px;
color: #0A1433;
opacity: 1;

}

.best{

  
  font-size: 30px;
  font-weight:450;
  margin-top: 59px;
  padding-left: 124px;
  color: #0A1433;
  
}



.for{
  font: normal  bold 40px/80px Poppins;
  padding-left: 124px;
  margin-top: -13px;
  font-weight: bold;
}
.lorem{
  padding-left: 124px;
  
  height: 150px;
}
.image{
  
  margin-top: 60px;
  margin-right: 40px;
}
.but{

  
background: #2E58A6 ;
opacity: 1;
margin-left: 124px;
height: 33px;
width: 200px;
font: normal normal medium 20px/30px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
border-radius: 4px;
border-color:none;

}



.track{
  background: #F0F4FC ;
  height: 270px;
  text-align: center;

}

.get{

  font: normal normal bold 20px/48px Poppins;
  color: #0A1433;
  text-align: center;
  padding-top: 30px;
  margin-left: 60px;
}

.let{
  margin-top: 20px;
}

.arrow{
  margin-top: 15px;
}

label{
  margin-top: 10px;

}

.cart{


  
}

.name{
  background: #F0F4FC;
  height: 280px;
  width: 280px;
  padding-top: 20px;
  padding-left: 17px;
  margin-top: 13px;
  border-radius: 10px;
  margin-bottom: 120px;
  
    
}

.super{

  color: #2E58A6 ;
  font: normal normal bold 30px/90px Poppins;
  margin-left: 24px;
  margin-top: -12px;

}

.clr{

  margin-left: 103px;
}

.fa{

  background: #FFFFFF;
  margin-right: 15px;
  height: 140px;
  margin-top: -17px;
}

.tech{

  padding-left: 9px;
  padding-top: px;
}

.inher{
  padding-top: 14px;
}

.typ{

  text-align: center;
  margin-top: 27px;
  
}

.wid{

  width: 130px;
  border-radius: 6px ;
  border-color: #FFFFFF;
  background: #FFFFFF;
}


/* page22 */

.tar {

  background: #F0F4FC ;
  margin-left: 200px;
  margin-top: 35px;
  height: 416px;
  margin-right: 25px;
  border-radius: 5px;
}

.bar{
padding-top: 40px;
padding-left: 20px;
 
}

.to{

  background: #FFFFFF;
  /* padding-top: 2px; */
  /* padding-left: 20px; */
  padding: 15px;
  height: 53px;
  margin-bottom: 3px;
  border-radius: 7px;
  font: 9px/25px Poppins;
  color: #2E58A6;

  /* background: #FFFFFF;
  padding-top: 2px;
  padding-left: 20px;
  height: 25px;
  margin-bottom: 3px;
  border-radius: 7px;
  font : 9px/25px Poppins;
  color: #2E58A6; */
  
}

.labels{
  margin-top: 10px;
}
.three{

  
  
}

.lala{

  color: #2E58A6;
  font: normal normal bold 21px/47px Poppins;
  margin-top: -15px;
  text-align: center;
}

.ro{
  background: #FFFFFF;
  height: 53px;
  margin-bottom: 3px;
  border-radius: 7px;
  text-align: center;
  margin-right: 7px;
  margin-left: 7px;
}
.ro  img {
  margin-top : 22px;
}


.yoyo{
  background: #2E58A6;
  color: #FFFFFF;
  border-radius: 6px;
  border-color:  #2E58A6;
  height: 30px;
  margin-top: 5px;
  margin-left: 15px;
  width: 84px;
}


.lala1{
  font: normal normal bold 21px/47px Poppins;
  margin-top: -15px;
  color: #FFFFFF;
  text-align: center;
}

.yoyo1{
  background: #FFFFFF;
  color: #2E58A6;
  border-radius: 6px;
  height: 30px;
  margin-top: 5px;
  border-color: #2E58A6;
  width: 84px;

}

.mar{

  margin-right: -56px;
}
.col-sm-2 {
  PADDING: 0px;
}

.po1{
  background-color: #2E58A6;
  height: 416px;
  border-radius: 7px;
 
}
.tton{
  background-color: #2E58A6; 
  color: #ffffff; 
  border-radius: 4px; 
  border-color: #2E58A6 ;
  width: 110px;
  margin-top: 10px;
  
}
.ome{
    
    margin-left: 50px;
}
.ome:active{
  color: #2E58A6;
}

.tol{
 
  padding-top: 30px;
  margin-left: 20px;
}
.tol1{
  background: #FFFFFF;
  height: 110px;

}
.side{
 padding-left: 390px;
}

.la{
  background: #ffffff;
  height: 460px;
  margin-top: 40px;
  margin-right: 90px;
  width: 300px;
  border-radius: 7px;
  box-shadow: 0px 3px 10px #00000029;
  text-align: center;
}

.att{
  height: 330px;
  width: 100%;
  border: 1px solid whitesmoke;
  
}

.im{
  margin-top: 20px;
}
.low{
  font: normal normal normal 10px/20px Poppins;
  
  color: #2E58A6;
}
.dd{
  background: #F0F4FC;
  border-radius: 2px;
  border-color: #F0F4FC;
  
  margin-top: 10px;
  width: 210px;

}
.tre{
  font-size: 13px;
  margin-top: 20px;
  color: #2E58A6;
}
.laaa{
  background: #F0F4FC;
  height : 85px;
  width: 85px; 
  padding-top: 20px;
  margin-left: 55px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
}
.tre1{
  font-size: 13px;
  color: #2E58A6;
}
.laaa2{
  background: #F0F4FC;
  height : 85px;
  width: 85px; 
  padding-top: 20px;
  margin-left: 70px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
  float: right;
  margin-top: -85px;
  margin-right: 57px;
}

.eee{
  margin-left: 160px;
  margin-bottom: -50px;
}

.onn{
  color: #FFFFFF;
  background-color: #2E58A6;
  width: 250px;
  border-radius: 5px;
  height: 40px;
  
}
.jo{
  padding-left: 8px;
  padding-top: 35px;
}
.up{
  margin-top: -60px;
  margin-left: 140px;
}

.kl{
  background-color: #2E58A6;
  color: #FFFFFF;
  border-radius: 3px;
  width: 170px;
  height: 33px;
}

.tr{
  background: #F0F4FC;
  width: 100%;
  height: 459px;
  margin-top: 300px;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.ggg{
  margin-top: 30px;
  margin-left: 330px;
}
.clear{
  margin-top: 50px;
}

.re{
  text-align: center; 
  font-size: smaller; 
  padding-top: 1%; 
  color: #748AA6;
}
.te{
  

  
  color: #748AA6;

}
.tee{
  color: #748AA6;
  text-align: center;
  
}
.trv{
  color: #748AA6;
}

.jah{
  text-align: center;
  padding-top: 2%;
}
.all{
  
  margin-top: -12%;
  text-align: center;
  opacity: 0.3;
}
.nett{
  margin-top: 10%;
  background-color: #F0F4FC;
  height: 600px;
  width: 100%;
}

.row{
  margin: 0px;
}
.til{
  padding-top: 3%;
}
.navbar{
  margin-bottom: 0px;
}

.fontss{
  font-size:1.8mm; margin-top: -12px; text-align: center;
}
.text-light{
  color:white;
}

 
  